<h1><%= @user.email  %></h1>
<p>Find me in app/views/user_events/show.html.erb</p>

<h4>All of ______'s Events</h4>
<ol>
	<% @user_events.each do |user_event| %>
		<li><%= link_to user_event.event.event_name, event_path(user_event.event) %></li><%  %>
	<% end %>
</ol>