/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #E0E4CC;
	padding: 0px;
}

#top_bar {
  position: relative;
  width: 900px;
  background-color: #69D2E7;
  margin: auto;
  padding: 5px 30px 5px 30px;
  font-family: calibri;
}

#container {
  position: relative;
  width: 575px;
  background-color: #A7DBD8;
  margin: auto;
  padding: 30px 50px 30px 50px;
  font-family: Pontano Sans;
  height: 900px;
}

h1, h3 {
	text-align: center;
}

a {
	color: #0B2E59;
	text-decoration: none;
}

a:visited {
	color: #0B2E59;
}

a.button {
	padding: 3px 7px 3px 7px;
	background-color: white;
	border-radius: 3px;
	text-decoration: none;
}

a:visited.button {
	text-decoration: none;
	color: black;
}

a:hover.button {
	background-color: #F38630;
	color: white;
}

a.small_button {
	font-size: 12px;
	padding: 1px 3px 1px 3px;
	background-color: white;
	border-radius: 2px;
	text-decoration: none;
}

td.table_label {
	font-weight: bold;
	text-decoration: underline;
}







